<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>
</head>
<body>

<footer>
    <div class="footer_apps">
        <div class="footer_sign d-flex container">
            <div class="footer_title">
                <h2 class="second_title">Sign up and <br>Scoot off today</h2>
            </div>
            <div class="footer_store d-flex">
                <a href="https://www.apple.com/app-store/">
                    <img src="/images/footer_app-store.svg" alt="apple">
                </a>
                <a href="https://store.google.com/">
                    <img src="/images/footer_google_play.svg" alt="google">
                </a>
            </div>
        </div>
        <div class="footer_circle d-flex">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
    <div class="footer_menu">
        <div class="footer_nav_box d-flex container">
            <div class="footer_nav d-flex">
                <a href="#" class="logo">
                    <img src="/images/footer_logo.svg" alt="logo">
                </a>
                <nav>
                    <ul class="d-flex">
                        <li>
                            <a class="link_font" href="#" >About</a>
                        </li>
                        <li>
                            <a class="link_font" href="#">Location</a>
                        </li>
                        <li>
                            <a class="link_font" href="#">Careers</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer_icon">
                <ul class="d-flex">
                    <li>
                        <a class="footer_facebook" href="https://www.facebook.com/"></a>
                    </li>
                    <li>
                        <a class="footer_twitter" href="https://twitter.com/"></a>
                    </li>
                    <li>
                        <a class="footer_instagram" href="https://www.instagram.com/"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>