<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>
</head>
<body>

<header>
    <div class="menu_box d-flex">
        <div class="menu d-flex">
            <a href="#" class="logo">
                <img src="images/header_logo.svg" alt="logo">
            </a>
            <nav>
                <ul class="d-flex">
                    <li>
                        <a class="link_font" href="#">About</a>
                    </li>
                    <li>
                        <a class="link_font" href="#">Location</a>
                    </li>
                    <li>
                        <a class="link_font" href="#">Careers</a>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="button_box">Get Scootin</button>
    </div>
</header>

</body>
</html>