@import "mixins";

//section "main_careers"

.main_careers {
  background-image: url("../images/careersPage/careers_banner.jpeg");
  padding: 72px 0;
  position: relative;

  .container {
    @include screen(767px, 1100px){
      padding-left: 97px;
    }
  }

  .main_careers_img {
    position: absolute;
    top: 68px;
    right: -31px;
  }
}

//section "mission"
.mission {
  padding-top: 120px;
  position: relative;
  overflow: hidden;

  @include screen(767px, 1200px){
    padding-top: 144px;
    display: flex;
  }

  .container {
    justify-content: space-between;
    flex-direction: row;

    @include max-screen(1200px){
      display: block;
    }

    .mission_text {
      max-width: 445px;
      padding-top: 125px;

      @include min-screen(1200px){
        order: 1;
      }

      @include screen(767px, 1200px){
        max-width: 573px;
        text-align: center;
        padding-top: 64px;
      }

      h3 {
        margin-bottom: 24px;

        @include screen(767px, 1200px){
          margin-bottom: 40px;
        }
      }

      p{
        margin-bottom: 40px;
      }
    }

    .mission_img {

      @include min-screen(1200px){
        order: 2;
      }

      @include screen(767px, 1200px){
        max-width: 445px;
        margin: auto;
      }

      .mission_img_box {
        overflow: hidden;

        img {

          height: auto;
          display: inline-block;
        }
      }

      .mission_arrow {
        position: absolute;
        bottom: 0;
        right: 0;

        @include screen(767px, 1200px){
          top: 440px;
        }
      }
    }
  }

  .mission_circle {
    background-color: $light_grey;
    position: absolute;
    right: -350px;
    top: 120px;
    z-index: -1;
  }
}

//section "join"
.join{
  padding-top: 120px;

  .container{
    text-align: center;

    h3{
      margin-bottom: 48px;

      @include screen(767px, 1200px){
        margin-bottom: 50px;
      }
    }

    .join_about_cards{
      justify-content: space-between;

      @include  max-screen(1200px){
        display: block;
      }

      .card_box{
        max-width: 350px;

        @include  max-screen(1200px){
          margin: auto;
        }

        .card_box_img{
          margin-bottom: 32px;
          img{
            width: 100%;
          }
        }
      }

      h4{
        margin-bottom: 27px;
      }
    }
  }
}

//section "vacancy"
.vacancy{
  padding-top: 120px;
  padding-bottom: 160px;

  @include screen(767px, 1200px){
    padding: 120px 40px;
  }

  .vacancy_block:not(:last-child) {
    margin-bottom: 24px;

    @include screen(767px, 1200px){
      margin-bottom: 16px;
    }
  }

  .vacancy_block{
    background-color: $snow;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 35px;

    @include screen(767px, 1200px){
      padding-top: 34px;
      padding-bottom: 33px;
    }

    .vacancy_block_text{
      margin-left: 40px;

      @include screen(767px, 1200px){
        margin-left: 48px;
      }

      h4{
        margin-bottom: 8px;
      }
    }

    button{
      margin-right: 64px;

      @include screen(767px, 1200px){
        margin-right: 48px;
      }
    }
  }

}

