@import "mixins";

footer {
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .footer_apps {
    padding: 102px 0;
    background-color: $dark_navy;
    position: relative;
    overflow: hidden;

    @include max-screen(1200px){
      display: flex;
    }

    @include screen(767px, 1200px){
      padding: 102px 40px;
    }

    @include max-screen(767px){
      padding: 88px 0;
    }

    .footer_sign {
      margin: auto;
      justify-content: space-between;

      @include max-screen(1200px){
        display: block;
        text-align: center;
      }

      h2 {
        color: #FFFFFF;
        @include max-screen(1200px){
          margin-bottom: 40px;
        }
      }
    }

    .footer_store {
      gap: 18px;
      align-items: center;

      img{
        border-radius: 4px;
      }
      @include max-screen(1200px){
        justify-content: center;

        .apple{
          img{
            max-width: 113px;
          }
        }

        .google{
          img{
            max-width: 130px;
          }
        }
      }
    }

    .footer_circle {
      position: absolute;
      top: 150px;
      right: -200px;
      gap: 45px;

      .circle {
        width: 347px;
        height: 347px;
        border-radius: 50%;
        border: 15px solid rgb(229, 236, 244);
        opacity: 0.1;

        &:last-of-type {
          background-color: #E5ECF4;
        }

      }
    }
  }

  .footer_menu {
    background-color: #333A44;
    padding: 35px 0;

    @include screen(767px, 1200px){
      padding: 35px 40px;
    }

    @include max-screen(767px){
      padding: 64px 0 88px 0;
    }

    .footer_nav_box {
      margin: auto;
      justify-content: space-between;
      align-items: center;

      @include max-screen(767px){
        display: block;
        text-align: center;
      }

      .footer_nav {
        align-items: center;

        @include max-screen(767px){
          display: block;
        }

        .logo {
          margin-right: 58px;

          @include max-screen(767px){
            margin: auto;
          }
        }

        nav{
          @include max-screen(767px){
            margin-top: 70px;
            margin-bottom: 85px;
          }
        }

        ul {
          gap: 32px;
          @include max-screen(767px){
            display: block;
              li:not(:last-child) {
                margin-bottom: 16px;
              }
          }
        }
      }

      .footer_icon {
        @include max-screen(767px){
          max-width: 120px;
          margin: auto;
        }

        ul {
          gap: 24px;

          a{
            color: $yellow;
            display: block;

            &:hover{
              color: $light_grey;
            }
          }
        }
      }
    }
  }
}