@import "mixins";

header{
  .menu_box{
    padding: 22px 0;
    max-width: 1106px;
    margin: auto;
    justify-content: space-between;

    .menu{
      align-items: center;

      .logo{
        margin-right: 58px;
      }

      ul{
        gap: 32px;

        li{
          list-style: none;
        }
      }

      a{
        text-decoration: none;
        @include space_font;
        color: $dim_grey;
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}