@import "mixins";

header{
  @include screen(767px, 1200px){
    padding: 0 20px;
  }

  .menu_box{
    padding: 22px 0;
    justify-content: space-between;

    .menu{
      align-items: center;

      .logo{
        margin-right: 58px;
      }

      ul{
        gap: 32px;

        li{
          list-style: none;
        }
      }

      a{
        text-decoration: none;
      }
    }
  }
}