@import "mixins";

//section main_banner
.main_banner{
  background-image: url('../images/homePageImage/banner.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 153px;
  padding-bottom: 152px;

  .banner_title{
    max-width: 500px;
    margin-left: 165px;
    margin-bottom: 40px;
  }

  .main_content{
    position: relative;

    .main_line_box{
      margin-top: 49px;
      margin-right: 57px;
      max-width: 203px;
      img{
        width: 100%;
      }
    }

    .main_content_module{
      margin-right: 40px;
      max-width: 405px;
      p{
        margin-bottom: 40px;
      }
    }

    .main_arrow_box{
      margin-top: 49px;
      max-width: 447px;
      img{
        width: 100%;
      }
    }

    .main_circle_box{
      position: absolute;
      right: -45px;
      top:118px
    }
  }
}

//section manual
.manual{
  padding-top: 160px;
  padding-bottom: 180px;
  position: relative;

  .manual_line{
    width: 974px;
    height: 1px;
    background-color: #E5ECF4;
    border: 15px solid rgb(229, 236, 244);
    position: absolute;
    top: 193px;
    z-index: -1;
  }
  .container{
    margin: auto;
    gap: 30px;
    .manual_box{
      width: 350px;

      h4{
        margin-top: 40px;
        margin-bottom: 27px;
      }
    }
  }
}

//section telemetry

.telemetry{
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;

  .container{
    margin: auto;
    justify-content: space-between;

    .telemetry_text{
      max-width: 445px;
      padding-top: 86px;
      h3{
        margin-bottom: 24px;
      }
      p{
        margin-bottom: 40px;
      }
    }

    .telemetry_img{
      position: relative;
      padding-top: 53px;

      .tele_img_box{
        overflow: hidden;

        img{
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .telemetry_arrow{
        position: absolute;
        bottom: 0;
        left: -125px;
      }
    }
    .telemetry_circle{
      background-color: $light_grey;
      position: absolute;
      right: -335px;
      top: 53px;
      z-index: -1;
    }

  }
}

//section city
.city{
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;

  .container{
    margin: auto;
    justify-content: space-between;
  }

  .city_circle{
    background-color: $light_grey;
    position: absolute;
    top: 0;
    left: -335px;
  }

  .city_img{
    position: relative;

    .city_img_box{
      overflow: hidden;

      img{
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .city_arrow {
      position: absolute;
      top: 0;
      left: -545px;
    }
  }

  .city_text{
    max-width: 445px;
    padding-top: 66px;

    h3{
      margin-bottom: 24px;
    }
    p{
      margin-bottom: 40px;
    }

  }
}

//section payments
.payments{
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;

  .container{
    margin: auto;
    justify-content: space-between;

    .payments_text{
      max-width: 445px;
      padding-top: 66px;

      h3{
        margin-bottom: 24px;
      }

      p{
        margin-bottom: 40px;
      }
    }

    .payments_img{
      position: relative;

      .payments_img_box{
        overflow: hidden;

        img{
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .payments_arrow {
        position: absolute;
        top: 80px;
        left: 250px;
      }
    }

    .payments_circle{
      background-color: $light_grey;
      position: absolute;
      right: -335px;
      top: 0;
      z-index: -1;
    }
  }
}