@import "mixins";

//section "main_location"

.main_location {
  background-image: url("../images/locationsPage/locations_banner.jpeg");
  padding: 72px 0;
  position: relative;

  .container {
    @include screen(767px, 1100px){
      padding-left: 97px;
    }
  }

  .main_location_img {
    position: absolute;
    top: 68px;
    right: -31px;
  }
}

// section "map"

.map{
  padding-top: 120px;

  @include screen(767px, 1100px){
    padding-left: 40px;
    padding-right: 40px;
  }

  .map_block{
    img{
      width: 100%;
    }
  }
}

//section "city_list"
.city_list{
  padding: 120px 0;

  @include screen(767px, 1100px){
    padding-top: 64px;
    padding-bottom: 120px;
    display: flex;
  }

  .container{
    align-items: center;

    @include max-screen(1200px){
      display: block;
      text-align: center;
    }

  }
  .city_list_title{
    max-width: 350px;
    margin-right: 30px;

    @include max-screen(1200px){
      margin: auto;
      text-align: center;
      max-width: 457px;
      padding-bottom: 40px;
    }

  }

  .city_list_text{
    max-width: 445px;
    margin-right: 105px;

    @include max-screen(1200px){
      margin: auto;
      text-align: center;
      max-width: 573px;
      padding-bottom: 40px;
    }
  }


}