@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  width: 1440px;
  margin: auto;
}

.container {
  max-width: 1275px;
}

.d-flex {
  display: flex;
}

.m-auto {
  margin: auto;
}

.button_box {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
}
.button_box:hover {
  background-color: #FFF;
  color: #FCB72B;
  border: 3px solid;
}

.bg_round_box {
  width: 445px;
  height: 445px;
  border-radius: 445px;
}

.sm_round_box {
  width: 240px;
  height: 240px;
  border-radius: 240px;
}

.main_title {
  color: #FFF;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}

.second_title {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.143px;
  color: #495567;
}

.cross_title {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.071px;
  color: #495567;
}

.global_text {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.link_font {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.link_font:hover {
  color: #FCB72B;
}

header .menu_box {
  padding: 22px 0;
  max-width: 1106px;
  margin: auto;
  justify-content: space-between;
}
header .menu_box .menu {
  align-items: center;
}
header .menu_box .menu .logo {
  margin-right: 58px;
}
header .menu_box .menu ul {
  gap: 32px;
}
header .menu_box .menu ul li {
  list-style: none;
}
header .menu_box .menu a {
  text-decoration: none;
}

footer a {
  text-decoration: none;
}
footer ul {
  list-style: none;
}
footer .footer_apps {
  padding: 102px 0;
  background-color: #495567;
  position: relative;
  overflow: hidden;
}
footer .footer_apps .footer_sign {
  max-width: 1106px;
  margin: auto;
  justify-content: space-between;
}
footer .footer_apps .footer_sign h2 {
  color: #FFFFFF;
}
footer .footer_apps .footer_store {
  gap: 18px;
  align-items: center;
}
footer .footer_apps .footer_circle {
  position: absolute;
  top: 150px;
  left: 450px;
  gap: 56px;
}
footer .footer_apps .footer_circle .circle {
  width: 347px;
  height: 347px;
  border-radius: 50%;
  border: 15px solid rgb(229, 236, 244);
  opacity: 0.1;
}
footer .footer_apps .footer_circle .circle:last-of-type {
  background-color: #E5ECF4;
}
footer .footer_menu {
  background-color: #333A44;
  padding: 35px 0;
}
footer .footer_menu .footer_nav_box {
  max-width: 1106px;
  margin: auto;
  justify-content: space-between;
}
footer .footer_menu .footer_nav_box .logo {
  margin-right: 58px;
}
footer .footer_menu .footer_nav_box .footer_nav {
  align-items: center;
}
footer .footer_menu .footer_nav_box .footer_nav ul {
  gap: 32px;
}
footer .footer_menu .footer_nav_box .footer_icon ul {
  gap: 24px;
}

.main_banner {
  background-image: url("../images/homePageImage/banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 153px;
  padding-bottom: 152px;
}
.main_banner .banner_title {
  max-width: 500px;
  margin-left: 165px;
  margin-bottom: 40px;
}
.main_banner .main_content {
  position: relative;
}
.main_banner .main_content .main_line_box {
  margin-top: 49px;
  margin-right: 57px;
  max-width: 203px;
}
.main_banner .main_content .main_line_box img {
  width: 100%;
}
.main_banner .main_content .main_content_module {
  margin-right: 40px;
  max-width: 405px;
}
.main_banner .main_content .main_content_module p {
  margin-bottom: 40px;
}
.main_banner .main_content .main_arrow_box {
  margin-top: 49px;
  max-width: 447px;
}
.main_banner .main_content .main_arrow_box img {
  width: 100%;
}
.main_banner .main_content .main_circle_box {
  position: absolute;
  right: -45px;
  top: 118px;
}

.manual {
  padding-top: 160px;
  padding-bottom: 180px;
  position: relative;
}
.manual .manual_line {
  width: 974px;
  height: 1px;
  background-color: #E5ECF4;
  border: 15px solid rgb(229, 236, 244);
  position: absolute;
  top: 193px;
  z-index: -1;
}
.manual .container {
  margin-left: 165px;
  gap: 30px;
}
.manual .container .manual_box {
  width: 350px;
}
.manual .container .manual_box h4 {
  margin-top: 40px;
  margin-bottom: 27px;
}

.telemetry {
  padding-bottom: 160px;
}
.telemetry .container {
  margin-left: 165px;
  position: relative;
  overflow: hidden;
}
.telemetry .container .telemetry_text {
  max-width: 445px;
  margin-right: 220px;
  padding-top: 86px;
}
.telemetry .container .telemetry_text h3 {
  margin-bottom: 24px;
}
.telemetry .container .telemetry_text p {
  margin-bottom: 40px;
}
.telemetry .container .telemetry_img {
  position: relative;
  padding-top: 53px;
}
.telemetry .container .telemetry_img .tele_img_box {
  overflow: hidden;
}
.telemetry .container .telemetry_img .tele_img_box img {
  width: 100%;
  height: auto;
  display: block;
}
.telemetry .container .telemetry_img .telemetry_arrow {
  position: absolute;
  bottom: 0;
  left: -125px;
}
.telemetry .container .telemetry_circle {
  background-color: #E5ECF4;
  position: absolute;
  right: -335px;
  top: 53px;
  z-index: -1;
}

.city {
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
}
.city .city_circle {
  background-color: #E5ECF4;
  position: absolute;
  top: 0;
  left: -335px;
}
.city .city_img {
  margin-left: 165px;
  position: relative;
}
.city .city_img .city_img_box {
  overflow: hidden;
}
.city .city_img .city_img_box img {
  width: 100%;
  height: auto;
  display: block;
}
.city .city_img .city_arrow {
  position: absolute;
  top: 0;
  left: -545px;
}
.city .city_text {
  margin-left: 220px;
  padding-top: 66px;
}
.city .city_text h3 {
  margin-bottom: 24px;
}
.city .city_text p {
  margin-bottom: 40px;
}

.payments {
  padding-bottom: 200px;
}
.payments .container {
  margin-left: 165px;
  position: relative;
  overflow: hidden;
}
.payments .container .payments_text {
  max-width: 445px;
  margin-right: 220px;
  padding-top: 66px;
}
.payments .container .payments_text h3 {
  margin-bottom: 24px;
}
.payments .container .payments_text p {
  margin-bottom: 40px;
}
.payments .container .payments_img {
  position: relative;
}
.payments .container .payments_img .payments_img_box {
  overflow: hidden;
}
.payments .container .payments_img .payments_img_box img {
  width: 100%;
  height: auto;
  display: block;
}
.payments .container .payments_img .payments_arrow {
  position: absolute;
  top: 80px;
  left: 250px;
}
.payments .container .payments_circle {
  background-color: #E5ECF4;
  position: absolute;
  right: -335px;
  top: 0;
  z-index: -1;
}

/*# sourceMappingURL=styles.css.map */
